<div
  id='combat'
  class='absolute bottom-48 z-50 mx-auto left-1/2 -translate-x-1/2 flex justify-center flex-col gap-y-0 opacity-0 invisible'
>
  <div class='px-5 pt-4 pb-2 bg-black text-white text-center'>
    <h3 class='font-boxing uppercase text-7xl'>MAYICHI</h3>
  </div>

  <img
    src='/street-fighter-vs-logo.webp'
    alt=''
    width='64'
    height='64'
    class='w-16 mx-auto absolute left-1/2 -translate-x-1/2'
  />

  <div class='px-5 pt-4 pb-2 bg-white text-black text-center'>
    <h3 class='font-boxing uppercase text-7xl'>AMOURANTH</h3>
  </div>
</div>
