<header class='relative'>
  <div
    class='md:absolute md:left-1/2 md:-translate-x-1/2 flex flex-col gap-1 justify-center items-center mt-4 md:mt-0 md:top-8 z-10'
  >
    <img
      src='/logo.webp'
      alt='Logo'
      class='w-32 lg:w-64 h-auto'
      width='385'
      height='412'
    />
    <h1
      class='font-boxing uppercase text-2xl lg:text-5xl text-center text-white font-bold'
    >
      <span
        class='bg-clip-text text-transparent bg-gradient-to-b from-white via-gray-300 to-white inline-block leading-relaxed'
        >la velada del año</span
      >
      <span class='text-yellow-500'>III</span>
    </h1>
  </div>
</header>
