<div
  id='info'
  class='block lg:absolute lg:bottom-48 z-50 mx-auto lg:left-1/2 lg:-translate-x-1/2'
>
  <div class='flex flex-col'>
    <!-- Fecha -->
    <div class='px-5 pt-5 pb-2 bg-white text-black text-center'>
      <h2 class='font-boxing uppercase text-7xl'>1 de JULIO</h2>
    </div>
    <!-- Twitch -->
    <div class='px-5 pt-2 pb-1 bg-black text-white text-center'>
      <a
        class='font-boxing uppercase text-[46px] inline-block hover:contrast-150 hover:scale-105 transition'
        href='https://twitch.tv/ibai'
        target='_blank'
        rel='noopener noreferrer'
      >
        <span class='text-purple-200'>twitch.tv/</span>
        <span class='text-purple-600'>ibai</span></a
      >
    </div>
    <!-- Tickets -->
    <div class='px-5 pt-2 pb-1 bg-sky-600 text-white text-center'>
      <a
        class='font-boxing uppercase text-4xl inline-block hover:contrast-150 hover:scale-105 transition'
        href='https://twitch.tv/ibai'
        target='_blank'
        rel='noopener noreferrer'>Comprar Entradas</a
      >
    </div>
  </div>
</div>
