<div
  class='absolute inset-0 flex gap-x-3 left-1/2 -translate-x-1/2 justify-center opacity-20 blur-sm'
>
  <div
    class='w-2 drop-shadow-lg h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-purple-100 via-purple-300 to-purple-500'
  >
  </div>
  <div
    class='w-2 drop-shadow-lg h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-purple-100 via-purple-300 to-purple-500'
  >
  </div>
  <div
    class='w-2 drop-shadow-lg h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-purple-100 via-purple-300 to-purple-500'
  >
  </div>
</div>
