---
import Boxers from './components/Boxers.astro'
import Header from './components/Header.astro'
import './styles/global.astro'
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<link
			rel='preload'
			href='/boxers/coscu.webp'
			as='image'
			type='image/webp'
			fetchpriority='high'
		/>
		<link
			rel='preload'
			href='/boxers/german.webp'
			as='image'
			type='image/webp'
			fetchpriority='high'
		/>
		<link
			rel='preload'
			href='/logo.webp'
			as='image'
			type='image/webp'
			fetchpriority='high'
		/>
		<script src='../scripts/script.js'></script>
		<title>La Velada del Año - Proyecto de ejercicio</title>
	</head>
	<body>
		<Header />
		<Boxers />
	</body>
</html>
